/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.4s ease;
}
html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #222327;
  --text-color: #fff;
  --main-color: #29fd53;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* navbar styling */
.navbar {
  position: fixed;
  margin-bottom: -20px;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo i {
  font-size: 38px;
  background: -webkit-linear-gradient(45deg, #29fd53, #023d0e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo span {
  color: white;
  font-size: 2.7rem;
  font-weight: 600;
}
.logo span:hover {
  text-decoration: none;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
}
.navbar .menu li a:hover {
  text-decoration: none;
  color: rgb(81, 217, 81);
}

/* menu btn styling */
.menu-btn {
  color: rgb(243, 214, 159);
  font-size: 23px;
  cursor: pointer;
  display: none;
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

.intro {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),
    url(../images/mesobs.JPG);
  background-size: cover;
  background-position: center;
  height: 110vh;
  background-attachment: fixed;
}

.intro .welcome h1 {
  color: antiquewhite;
  transform: translateX(10%);
  font-size: 500%;
  font-weight: 700;
  opacity: 0.6;
  text-transform: uppercase;
}

.intro .welcome {
  margin: 15% auto auto 15%;
  /* position: absolute; */
}

.flag img {
  width: 80%;
  height: 50%;
  margin-top: 15px;
}
.second {
  margin-top: 12%;
}
.second .row {
  width: 100%;
  padding: 0 10%;
}
.textimg {
  width: 80%;
}

.vl {
  border-left: 4px solid gray;
  height: 100;
  position: absolute;
  left: 5%;
  top: 0;
}

.description p,
.extra-content p {
  font-weight: 500;
  font-size: larger;
}
.description h2,
.extra-content h2 {
  color: #fd7474;
}

.slider .heading,
.extra .heading,
.section-more .heading,
.famous .heading,
.events .heading {
  margin-top: 10px;
  text-align: center;
  font-family: "Lato";
  text-transform: uppercase;
}

.slider h1:after,
.extra h1:after,
.section-more h1:after,
.famous h1:after,
.events h1:after {
  display: block;
  height: 2px;
  background-color: #fd7474;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 65px;
}

.carousel-slide {
  width: 80%;
  margin-left: 10%;
  height: 50%;
}

.extra-content {
  width: 80%;
  margin-left: 10%;
}

.extra-content .calendar,
.extra-content .adwa {
  padding: 0 6%;
}

.carousel-slide h1 {
  color: lightseagreen;
}
.calendar img {
  padding-top: 0;
  margin-bottom: 15px;
  width: 45%;
  height: 45%;
}
.adwa img {
  margin-left: -5px;
  padding-top: 0;
  width: 40%;
  height: 40%;
}

.section-more {
  padding: 0;
}
.meals-showcase {
  list-style: none;
  width: 100%;
}
.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  opacity: 0.75;
  width: 100%;
  height: auto;
  transform: scale(1.03);
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  transform: scale(1.15);
  opacity: 1;
}

.resume .center {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background: rgb(216, 214, 214);
  border-radius: 10px;
  height: 92%;
  font-family: montserrat;
  font-weight: 500;
}

/************************ RESPONSIVENESS*******************************/
@media (max-width: 1200px) {
  .intro .welcome h1 {
    transform: translate(-5%, -10%);
    font-size: 400%;
  }
}

@media (max-width: 992px) {
  .intro .welcome h1 {
    transform: translateY(20rem);
    font-size: 300%;
  }
  .vl {
    border-left: 0px solid gray;
  }
  .album img {
    width: 750px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .intro {
    height: 100vh;
  }
  .intro .welcome h1 {
    transform: translateY(20rem);
  }
  .slider h1,
  .extra h1,
  .section-more h1,
  .famous h1,
  .events h1 {
    font-size: 150%;
  }
  .album {
    margin-left: 12%;
  }
  .album img {
    width: 600px;
    height: auto;
  }
  .events h2 {
    font-size: 150%;
  }
}
@media (max-width: 700px) {
  .carousel-slide h4 {
    display: none;
  }
  .carousel-slide h1 {
    margin-bottom: 0;
  }
  .album img {
    width: 400px;
    height: auto;
  }
  .airlines,
  .ceremony,
  .athletics {
    border: 0px;
  }
}

@media (max-width: 450px) {
  .logo i {
    color: #29fd53;
    font-size: 25px;
  }
  .logo span {
    color: white;
    font-size: 2.7rem;
    font-weight: 500;
  }
  .intro {
    height: 100vh;
  }
  .intro .welcome h1 {
    /* transform: translateX(10%); */
    transform: translateY(30rem);

    font-size: 25px;
  }
  .album img {
    width: 300px;
    height: 100vh;
  }
  .featurette {
    width: 70%;
    transform: translateX(2%);
  }
  .featurette img {
    width: 350px;
    height: auto;
  }
  .featurette iframe {
    width: 370px;
    height: auto;
  }
}

/* responsive media query start */

@media (max-width: 947px) {
  #menu-icon {
    display: block;
    z-index: 999;
  }
  .navbar .max-width {
    padding: 14px 2%;
    transition: 0.2s;
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}
