@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  transition: all 0.4s ease;
}
html {
  scroll-behavior: smooth;
  text-decoration: none;
}
body {
  background-color: var(--bg-color);
}
section {
  padding: 100px 0;
}
h1 {
  color: var(--text-color);
}
.home-city {
  font-size: 17px;
  font-weight: bold;
  font-weight: 300px;
  color: red;
}
:root {
  --bg-color: #222327;
  --text-color: #fff;
  --main-color: #29fd53;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all 0.5s ease;
}

.logo i {
  color: #29fd53;
  font-size: 28px;
}
.logo span {
  color: white;
  font-size: 2.7rem;
  font-weight: 600;
}
.logo:hover {
  text-decoration: none;
}

.navibar {
  width: 80rem;
  margin-bottom: -10px;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}
.navibar a {
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.5s ease;
}
.navibar a:hover {
  text-decoration: none;
  color: rgb(81, 217, 81);
}
.navibar a.active {
  color: rgb(81, 217, 81);
}
#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

/* HOME CAROUSEL STYLE */
.home .carousel-item {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.home .carousel-item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.home .carousel-item .container {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home .carousel-item h2 {
  font-size: 80px;
  color: #948a8a;
  margin: 0 0 30px;
  opacity: 0.8;
}
.home .carousel-item p {
  font-size: 20px;
  margin: 0;
  color: #d8e1d8;
}
.home .carousel-item a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 40px;
  margin-top: 20px;
  border-radius: 35px;
  background-color: rgb(38, 60, 53);
  border: 3px solid rgb(72, 54, 22);
  opacity: 0.7;
}
.home .carousel-item a:hover {
  background-color: transparent;
  color: rgb(234, 219, 193);
  transition: all 0.5s ease;
}
.home .carousel-item.active h2 {
  animation: fadeInLeft 0.5s ease forwards;
}
.home .carousel-item.active p {
  animation: fadeInRight 0.5s ease forwards;
}

.scrolled {
  background: rgb(22, 92, 1);
  opacity: 0.9;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
  padding: 0 15px;
}
.section-title h1 {
  display: inline-block;
  font-size: 40px;
  color: var(--text-color);
  font-weight: 700;
  margin: 0;
  position: relative;
}
.section-title h1:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 80px;
  height: 3px;
  background-color: #ff9800;
}

.about-section {
  padding: 80px 0 0;
}
.about-section .about-img {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
}
.about-section .about-img .img-box {
  position: relative;
}
.about-section .about-img .img-box .shape-02 {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 2px solid #ff9800;
  left: 30px;
  top: 30px;
  animation: ani01 5s linear infinite;
}
.about-section .about-img .img-box img {
  margin-top: 20%;
  width: 100%;
  display: block;
  border-radius: 20px;
}
.about-section .about-content {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding: 0 15px;
}

.about-section .section-title {
  margin-bottom: 30px;
  padding: 0;
}

.about-section .about-content p {
  font-size: 16px;
  color: var(--text-color);
  line-height: 26px;
  margin: 0;
}
.about-section .about-content .stats .stat-box {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
  text-align: center;
  margin-top: 30px;
}

.about-section .about-content .stats .stat-box h2 {
  font-size: 40px;
  color: #000000;
  margin: 0 0 5px;
}
.about-section .about-content .stats .stat-box h5 {
  font-size: 16px;
  color: #555555;
  font-weight: 600;
  text-transform: uppercase;
}

.about-section .about-content .btn {
  margin-top: 30px;
}

/* Photography STYLING */
.content-item-inner img {
  width: 30px;
}
.content-section {
  padding: 80px 0 0;
}

.content-section .content-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
}
.content-section .content-item-inner img {
  width: 280px;
  height: 280px;
  display: block;
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.content-section .content-item-inner:hover img {
  filter: grayscale(100%);
  transform: scale(1);
}
.content-section .content-item-inner {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.content-section .content-item-inner .overlay {
  position: absolute;
  left: 0;
  top: 0;
  /* height: 100%;
  width: 100%; */
  width: 280px;
  height: 280px;
  padding: 15px;
  display: flex;
  align-items: flex-end;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
.content-section .content-item-inner:hover .overlay {
  opacity: 1;
}
.content-section .content-item-inner .overlay h4 {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  transform: translateX(30px);
  transition: all 0.5s ease;
}
.content-section .content-item-inner:hover .overlay h4 {
  transform: translateX(0);
}

/* API STYLIZE */
.api {
  margin-bottom: 10%;
}
.form-group {
  margin: 10px 30%;
  width: 35%;
}

.row #images {
  padding: 20px;
  margin: 5px 10px;
}
/* SOME RESPONSIVE FEATURES */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media (max-width: 1280px) {
  header {
    padding: 14px 2%;
    transition: 0.2s;
  }
  .navibar a {
    font-size: 20px;
    padding: 5px 0;
    margin: 0px 20px;
  }
}
@media (max-width: 1090px) {
  #menu-icon {
    display: block;
  }
  /* Navigator bar */
  .navibar {
    position: absolute;
    top: 100%;
    right: 100%;
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    transition: all 0.5s ease;
  }
  .navibar.open {
    line-height: 70px;
    font-size: 150px;
    right: 1px;
  }
  .navibar a :hover {
    color: var(--text-color);
    transform: translateY(5px);
  }
  .navibar a.active {
    color: var(--text-color);
  }
}
@media (max-width: 947px) {
  .about-section .about-img {
    margin-bottom: 30px;
  }
  .about-section .about-content,
  .about-section .about-img {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .content-section .content-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 800px) {
  .form-control {
    width: 30rem;
  }
}

@media (max-width: 470px) {
  .form-control {
    width: 20rem;
  }
}
/* ABOUT SECTION*/
@keyframes ani01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
